/*----------------------------------------------------------------*\

  GREAT ANIMATION RESOURCES
	https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

\*----------------------------------------------------------------*/

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}