/*----------------------------------------------------------------*\
		CUSTOMIZED COLOR PALETTE
\*----------------------------------------------------------------*/
.has-green-background-color {
	background-color: #00674A;

	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--DarkGreen);
		background-color: var(--DarkGreen);
	}
}

.has-green-color {
	color: #00674A;
}

.has-blue-background-color {
	background-color: #3FA5D0;
}

.has-blue-color {
	color: #3FA5D0;
}

.has-yellow-background-color {
	background-color: #FFBE00;
}

.has-yellow-color {
	color: #FFBE00;
}

.has-black-background-color {
	background-color: #000000;
}

.has-black-color {
	color: #000000;
}

.has-white-background-color {
	background-color: #FFFFFF;
}

.has-white-color {
	color: #FFFFFF;
}

/*----------------------------------------------------------------*\
		WP Default Blocks
\*----------------------------------------------------------------*/
article {

	& .wp-block-button {
		margin-top: 1.5em;
	}

	& .wp-block-cover {
		margin: 4em 0;
	}

	& .wp-block-pullquote {
		padding: 0;
		margin: 3em 0;

		& blockquote {
			border-left: 0;
			border-top: 3px solid var(--Black);
			border-bottom: 3px solid var(--Black);
			padding: 2.5em 1em;

			@media(--500vp) {
				padding: 4em 1em;
			}

			& p {
				font-size: 24px;

				@media(--500vp) {
					font-size: 28px;
				}
			}

			& cite {
				text-transform: uppercase;
				font-style: normal;
			}
		}
	}

	& .wp-block-gallery {
		margin: 4em 0;
	}

	& .wp-block-media-text {
		margin: 4em 0;
		display: block;

		@media(--500vp) {
			display: grid;
		}

		& figure {
			margin-bottom: 1em !important;

			@media(--500vp) {
				margin: 0 !important;
			}
		}
	}

	& .wp-block-separator.is-style-dots::before {
		font-size: 50px;
		letter-spacing: 1em;
	}

	& .wp-block-embed {
		margin: 2em 0;
	}

	& .wp-block-embed-youtube {
		width: 90%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		& iframe {
			width: 100%;
			height: 225px;

			@media(--500vp) {
				height: 350px;
			}
		}
	}

	& .wp-block-file {
		margin: 3em 0;

		& a {
			font-size: inherit;
			color: var(--Grey);
			text-decoration: underline;

			&:hover,
			&:focus {
				font-style: italic;
			}

			&.wp-block-file__button {
				border: 2px solid var(--Grey);
				background-color: var(--Grey);
				font-style: normal;
				transition: all .35s linear;

				&:hover,
				&:focus {
					border-color: var(--Black);
					background-color: var(--Black);
				}
			}
		}
	}

	/* WIDTH OVERDIES ~ must stay at teh end fo file */

	& .has-large-width {
		width: 90vw;
		max-width: 1200px;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	& .has-normal-width {
		width: 90vw;
		max-width: 1050px;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	& .has-small-width {
		width: 90vw;
		max-width: 700px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}