/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
.wp-block-button__link {
  display: inline-block;
  padding: 1em 2em;
  outline: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Muli Bold';
  cursor: pointer;
  transition: all 0.35s linear;
	letter-spacing: 1px;
}

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;

  & button,
  & .button {
    margin: 0.5em 1em;
  }
}

button,
.button {
  display: inline-block;
  margin: 1em 1em 1em 0;
  padding: 0.5em 2em;
  border: 2px solid var(--Green);
  border-radius: 30px;
  background-color: var(--Green);
  color: var(--White);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Muli Bold';
  cursor: pointer;
  transition: all 0.35s linear;
	letter-spacing: 1px;

  &:hover,
  &:focus,
  &.is-hover {
    border-color: var(--DarkGreen);
    background-color: var(--DarkGreen);
  }

  &:active,
  &.is-active {
    border-color: var(--DarkGreen);
    background-color: var(--DarkGreen);
  }

  &.load-more {
    margin: var(--SmallSpacing) auto;
  }
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.has-icon {
    padding: 0.5em 1em;

    & img,
    & svg {
      /* make icon align just left */
      position: relative;
      top: -1px;
      display: inline-block;
      margin-right: 0.5em;
      width: 1.5em;
      height: 1.5em;
      /* svg styling based on orion lab line icons */
      /* adjust style specific for your icon set */
      vertical-align: text-top;

      stroke: #f8f8ff;
      fill: transparent;
    }
  }
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-transparent {
    border-color: var(--Black);
    background-color: var(--Black);
    background-clip: padding-box;

    &:hover,
    &:focus,
    &.is-hover {
      border-color: var(--Black);
      background-color: var(--Black);
    }

    &:active,
    &.is-active {
      border-color: var(--Black);
      background-color: var(--Black);
    }
  }

  /* add additional colors by adding variables first */
  &.is-secondary {
    border-color: var(--White);
    background-color: var(--Green);

    &:hover,
    &:focus,
    &.is-hover {
      border-color: var(--White);
      background-color: var(--White);
      color: var(--Green);
    }

    &:active,
    &.is-active {
      border-color: var(--White);
      background-color: var(--White);
      color: var(--Green);
    }
  }
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-small {
    padding: 0.35em 0.875em;
    font-size: 0.875em;
  }

  &.is-large {
    padding: 0.75em 1.35em;
    font-size: 1.25em;
  }
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-fluid {
    margin: 0;
    width: 100%;
  }
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {
  & button,
  & .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.are-grouped {
    display: flex;

    button,
    .button {
      flex: 1;
      margin-right: 0;
      white-space: nowrap;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
