/*----------------------------------------------------------------*\
		TABLES
\*----------------------------------------------------------------*/

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	border-radius: 0 0 12px 12px;
	font-size: 16px;
	margin-top: 3em;

	& tbody {
		box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.13);
	}

	& tr {
		background-color: var(--White);

		&:first-of-type {
			box-shadow: none;
		}

		& th,
		& td {
			padding: 1em;
			border: 1px solid #E1E1E1;
		}

		& th {
			font-family: 'Muli';
			line-height: 2;
			text-transform: uppercase;
			color: var(--White);
			border: none;
			border-radius: 30px 30px 0 0;
			text-align: center;
			width: 33%;

			&:nth-of-type(1) {
				background-color: var(--Blue);
			}

			&:nth-of-type(2) {
				background-color: var(--LightGreen);
			}

			&:nth-of-type(3) {
				background-color: var(--Green);
			}
		}

		& td {
			font-family: 'Muli';
		}
	}
}