/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli Bold';
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli Light';
	src: url('../fonts/Muli-Light.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0 0.5em 0;
	color: var(--Green);
	font-family: 'Muli Bold';
	font-weight: 400;
}

h1 {
	color: var(--White);
	font-size: 42px;

	@media(--800vp) {
		font-size: 60px;
	}

	&+h2 {
		margin-top: -30px;
		font-size: 44px;
	}
}

h2 {
	color: var(--White);
	font-size: 38px;

	@media(--800vp) {
		font-size: 44px;
	}

	&+h3 {
		margin-top: -28px;
		font-size: 34px;
	}
}

h3 {
	font-size: 34px;

	&+h4 {
		margin-top: -20px;
		font-size: 28px;
	}
}

h4 {
	font-size: 28px;

	&+h5 {
		margin-top: -18px;
		font-size: 24px;
	}
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 22px;
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	margin: var(--LargeSpacing) auto;
	width: 100%;
	height: 3px;
	border: none;
	background-color: var(--Blue);
}

p,
span,
time,
address,
nav,
ul,
ol {
	font-size: 1em;
	font-family: 'Muli';
	line-height: 1.5;
}

p {
	margin: 0 0 1em 0;
}

strong,
b {
	font-family: 'Muli Bold';
}

p a {
	color: var(--LightGreen);
	text-decoration: underline;
	font-size: inherit;
	font-family: 'Muli Bold';

	&:hover,
	&:focus {
		font-style: italic;
	}

	&.button {

		&:hover,
		&:focus {
			font-style: inherit;
		}
	}
}

ol,
ul {
	padding-left: 0;
	list-style: none;
	font-size: 18px;
}

li {
	position: relative;
	padding-left: 34px;
	background-position: 0 8px;
	background-size: 13px;
	background-repeat: no-repeat;
	line-height: 1.8;
}

ul {
	& li {
		background-image: url('../images/list-bullet.svg');
	}
}

ol {
	counter-reset: number-counter;

	& li {
		counter-increment: number-counter;

		&:before {
			position: absolute;
			left: 27px;
			color: var(--LightGreen);
			content: counter(number-counter);
			font-weight: bold;
		}
	}
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	margin: 55px auto;
	padding: 0 1em;
	max-width: 800px;
	width: 95%;
	border-left: 3px solid var(--LightGreen);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Black);
		letter-spacing: 1px;
		font-size: 26px;
		line-height: 36px;
	}

	& cite {
		font-size: 20px;
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: 0.875em;
}