/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/

.banner {
	width: 100%;
	height: auto;
	min-height: 430px;
	padding: 1em;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black);
		opacity: .5;
	}

	&>div {
		max-width: var(--LargeWidth);
		text-align: center;
		position: relative;
		z-index: 2;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: var(--White);
	}

	& .buttons {
		margin-top: 25px;
	}
}