/*----------------------------------------------------------------*\
	CARD REPEATER
\*----------------------------------------------------------------*/

.cards {
	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		& article {
			width: 90%;
			box-shadow: 0 2px 37px 0 rgba(0, 0, 0, 0.15);
			padding: 4em 3em;
			position: relative;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			background-color: var(--White);

			@media(--800vp) {
				width: 30%;
			}

			&:hover,
			&:focus {

				&:after {
					bottom: -20px;
				}

				& .button {
					background-color: var(--DarkGreen);
					border-color: var(--DarkGreen);
				}
			}

			&:nth-of-type(1) {
				&:before {
					background-color: var(--Blue);
				}

				&:after {
					background-color: var(--Blue);
				}
			}

			&:nth-of-type(2) {
				&:before {
					background-color: var(--LightGreen);
				}

				&:after {
					background-color: var(--LightGreen);
				}
			}

			&:nth-of-type(3) {
				&:before {
					background-color: var(--Yellow);
				}

				&:after {
					background-color: var(--Yellow);
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: -24px;
				left: 0;
				width: 100%;
				height: 24px;
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
				background-color: var(--Blue);
				transition: .25s all linear;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -11px;
				left: 5%;
				width: 90%;
				height: 24px;
				border-bottom-left-radius: 30px;
				border-bottom-right-radius: 30px;
				background-color: var(--Blue);
				z-index: -1;
				transition: .25s all linear;
			}

			& h4 {
				margin-top: 0;
			}

			&>a:first-of-type {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}