/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Green);
	color: var(--White);
	position: relative;

	& h5 {
		color: var(--White);
		font-family: 'Muli';
		margin: 0 0 .5em;
		font-size: 28px;

		@media(--800vp) {
			margin: 0 0 1.5em;
		}
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 1200px;
		padding: 4em 1em;
		position: relative;

		& .who-we-are {
			width: 100%;
			padding: 0 1em;
			order: 1;

			@media(--800vp) {
				width: 60%;
				padding: 0 2em;
				order: inherit;
			}

			@media(--1050vp) {
				padding: 0 4em;
			}
		}

		& .contact-us {
			width: 100%;
			padding: 1em;
			order: 3;

			@media(--800vp) {
				width: 40%;
				padding: 0 2em;
				order: inherit;
			}

			@media(--1050vp) {
				padding: 0 4em;
			}

			& p a {
				color: var(--White);
			}
		}

		& .footer-menu {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: 0 1em;
			order: 2;

			@media(--800vp) {
				margin-top: 3em;
				order: inherit;
			}

			@media(--1050vp) {
				padding: 0 4em;
			}

			@media(--1200vp) {
				padding: 0;
			}

			& ul {
				margin: 0;
				display: flex;
				flex-wrap: wrap;

				&#menu-footer-one {
					display: none;

					@media(--800vp) {
						display: flex;
					}
				}

				&#menu-footer-two {
					& li {
						&:first-of-type {
							padding-left: 0;

							@media(--800vp) {
								padding-left: 1em;
							}

							@media(--1200vp) {
								padding-left: 2em;
							}
						}

						&:last-of-type {
							padding-right: 0;
						}

						&.menu-resources {
							display: block;
						}
					}
				}

				& li {
					background-image: none;
					padding: 0;
					padding-bottom: 1em;
					width: 100%;

					@media(--800vp) {
						padding: 0 1em;
						padding-bottom: inherit;
						width: auto;
					}

					@media(--1200vp) {
						padding: 0 2em;
						padding-bottom: inherit;
						width: auto;
					}

					&:first-of-type {
						padding-left: 0;
					}

					& a {
						color: var(--White);
						text-decoration: none;
						text-transform: uppercase;
						font-size: 16px;

						@media(--800vp) {
							font-size: 12px;
						}

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	& .social-links {
		background-color: var(--LightGreen);
		width: 100%;
		max-width: inherit;
		padding: 0;

		& h5 {
			width: 36%;
			text-align: center;
			margin: 0;
			justify-content: center;
			align-items: center;
			display: none;

			@media(--800vp) {
				display: flex;
			}

			@media(--1050vp) {
				width: 45%;
			}
		}

		& a {
			width: 25%;
			height: 83px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-left: 3px solid rgba(255, 255, 255, 0.35);

			@media(--800vp) {
				width: 125px;
			}

			&:first-of-type {
				border-left: none;

				@media(--800vp) {
					border-left: 3px solid rgba(255, 255, 255, 0.35);
				}
			}

			&:last-of-type {
				border-right: none;

				@media(--800vp) {
					border-right: 3px solid rgba(255, 255, 255, 0.35);
				}
			}

			& svg {
				fill: var(--White);
				width: 30px;
				height: 30px;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SITE CREDIT
\*----------------------------------------------------------------*/

#element5-credit {
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: 5em;
	right: 0;
	padding: 0;

	& img {
		transform: translateX(100%);
		transition: all .35s linear;
	}

	&[data-emergence=visible] img {
		transform: translateX(0);
	}
}