/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
  margin: var(--LargeSpacing) auto;
  max-width: var(--Width);
  width: 90%;
  text-align: center;

  & > h2 {
    margin-top: 0;
  }
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  grid-gap: 16px;
  margin: var(--Spacing) auto;
  width: 100%;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media(--500vp) {
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  }

  @media(--800vp) {
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  }
}

.featherlight-content {
  min-width: 300px;
  min-height: 300px;

  & img {
    position: relative;
    z-index: 5;
  }

  & span {
    z-index: 10;
  }

  &::after {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    background-image: url(../images/loading.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    animation: rotation 2s infinite linear;
  }
}
