/*----------------------------------------------------------------*\
		GET STARTED SECTION
\*----------------------------------------------------------------*/

section.get-started {
	padding: 4em 1em;
	background-color: var(--LightGrey);

	&>div {
		max-width: 700px;
		margin: 0 auto;

		& h3 {
			text-align: center;
			margin-top: 0;
		}

		&>div {
			text-align: center;

			& a.button {
				line-height: 22px;
			}
		}
	}
}