/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 62px;
  padding: 0 10vw;
  min-height: 200px;
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media(--1050vp) {
    margin-top: 85px;
  }

  &.has-image {
    min-height: 400px;
    color: var(--White);
  }

  & > section {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    text-align: center;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  & .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: var(--Black);
    opacity: 0.16;
  }
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
  &.has-video {
    overflow: hidden;
    min-height: 60vh;
    min-height: 400px;
    color: var(--White);

    & .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: var(--Black);
      opacity: 0.5;
    }

    & video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: auto;
      height: auto;
    }
  }
}

/*----------------------------------------------------------------*\
	POST TITLES
\*----------------------------------------------------------------*/
.single-post header.page-title {
  & > section > :first-child {
    margin-top: 1em;
  }

  & .post-meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: var(--Width);

    & p {
      margin: 0 0 0.25em 0;
    }

    & img {
      margin-right: 1em;
      width: 50px;
      border-radius: 50%;
    }
  }
}
