/*----------------------------------------------------------------*\
	INFO CARD REPEATER
\*----------------------------------------------------------------*/

.info-cards {
	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& article {
			width: 90%;
			max-width: 400px;
			box-shadow: 0 2px 37px 0 rgba(0, 0, 0, 0.15);
			padding: 3em 3em 7em;
			position: relative;
			border-radius: 12px;
			background-color: var(--White);
			margin-top: 12em;

			@media(--800vp) {
				width: 45%;
				max-width: inherit;
			}

			& img {
				margin-top: -50% !important;
			}

			& li {
				font-size: 16px;
				padding-left: 30px;
				background-position: 0 8px;
			}

			& a.button {
				position: absolute;
				bottom: 3em;
				left: calc(50% - 81.4px);
			}
		}
	}
}