/*----------------------------------------------------------------*\
	MEDIA + TEXT
\*----------------------------------------------------------------*/
section.media-text {
	margin: 4em auto;
	display: block;
	grid-template-rows: auto;
	align-items: center;
	grid-template-columns: 50% auto;
	&.media-left {
		grid-template-areas: "media-text-media media-text-content";
	}
	&.media-right {
		grid-template-areas: "media-text-content media-text-media";
	}
	@media(--500vp) {
		display: grid;
	}
	& figure {
		grid-area: media-text-media;
		margin: 0;
	}
	& div {
		grid-area: media-text-content;
		padding: 0 8% 0 8%;
	}
}