/*----------------------------------------------------------------*\
		PARTNERS
\*----------------------------------------------------------------*/

.partners-feed {
	padding: 4em 1em;
	text-align: center;

	& .partners {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;

		& article {
			width: 100%;
			position: relative;

			@media(--500vp) {
				width: 30%;
			}

			&:hover,
			&:focus {
				cursor: pointer;

				& .image-wrap {
					& .overlay {
						opacity: 1;
					}
				}
			}

			&>a {
				&:first-of-type {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}

				&.linkedin {
					position: relative;
					z-index: 2;
					background-color: var(--Grey);
					border-radius: 50%;
					width: 41px;
					height: 41px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
				}
			}

			& .image-wrap {
				position: relative;
				border-radius: 50%;
				overflow: hidden;
				display: flex;
				align-items: flex-start;

				&>a {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}

				& .overlay {
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: rgba(0, 165, 118, 0.83);
					height: 120px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					opacity: 1;
					transition: all .2s linear;

					@media(--500vp) {
						height: 100%;
						opacity: 0;
					}

					@media(--800vp) {
						height: 120px;
					}

					&>a:first-of-type {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}

					& .button {
						padding: 1em 2em;
						border-radius: 50px;
					}
				}
			}

			&>p {
				text-transform: uppercase;
			}

			& svg {
				width: 16px;
				height: 16px;
				fill: var(--LightGreen);
			}
		}
	}
}