/*----------------------------------------------------------------*\
		TEAM
\*----------------------------------------------------------------*/

.team-feed {
	padding: 4em 1em;
	text-align: center;
	background-color: var(--LightGrey);

	&>p {
		font-size: 18px;
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 1em;
	}

	& .team {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;

		& article {
			width: 100%;
			position: relative;

			@media(--500vp) {
				width: 30%;
			}

			&>a {
				&:first-of-type {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}

				&.linkedin {
					position: relative;
					z-index: 2;
					background-color: var(--Grey);
					border-radius: 50%;
					width: 41px;
					height: 41px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
				}
			}

			&>p {
				text-transform: uppercase;

				&.description {
					text-transform: none;
					text-align: left;
					margin-top: 2em;
				}
			}

			& svg {
				width: 16px;
				height: 16px;
				fill: var(--LightGreen);
			}
		}
	}
}