/*----------------------------------------------------------------*\
	TESTIMONIAL SLIDER
\*----------------------------------------------------------------*/

.testimonials {
	text-align: center;

	& h2 {
		background-color: var(--Blue);
		padding: 1em 0;
		font-size: 24px;
		position: relative;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-top: 30px solid var(--Blue);
			position: absolute;
			bottom: -30px;
			left: calc(50% - 30px);
		}
	}

	& .testimonial-slider {
		max-width: 700px;
		margin: 0 auto;
		padding: 2em 4em;

		& .slick-arrow {
			position: absolute;
			top: 50%;
			cursor: pointer;

			&:first-of-type {
				left: 0;
			}

			&:last-of-type {
				right: 0;
			}
		}

		& article {
			& img {
				max-width: 350px;
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}