section.wysiwyg-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: var(--Spacing) auto;

	&>h2 {
		width: 100%;
		margin-top: 0;
	}

	&>div {
		width: 100%;

		@media(--800vp) {
			width: 48%;
			margin: 0 2% 0 0;

			&:last-of-type {
				margin: 0 0 0 2%;
			}

			&:only-child {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}