/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);
@custom-media --1500vp (min-width: 1500px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}

	@media(--1500vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

#wpadminbar {
	top: 5px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

#wpadminbar #wp-admin-bar-customize,
#wpadminbar #wp-admin-bar-autoptimize,
#wpadminbar #wp-admin-bar-gform-forms {
	display: none;
}

#wpadminbar ul li {
	margin: 0 5px !important;
}

#skip-to-content {
	position: absolute;
	top: -55px;
	left: 0;
	z-index: 999999;
	padding: 1em;
	background-color: var(--Black);
	color: var(--White);
	font-family: 'Muli';

	&:focus {
		top: 0;
	}
}

iframe {
	margin-top: 4em;
}

a.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;

	@media(--1050vp) {
		top: -100px;
	}
}

/*----------------------------------------------------------------*\
		MAIN
\*----------------------------------------------------------------*/
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-top: 30px;

	&.aside-both,
	&.aside-left,
	&.aside-right {
		margin: 0 auto;
		max-width: var(--LargeWidth);
	}

	&>article {
		order: 0;
		padding: 1em;
		max-width: 700px;
		width: 100%;

		@media(--800vp) {
			order: 2;

			&:first-child,
			&:last-child {
				width: calc(100% - 375px);
			}

			&.aside-both,
			&:only-child {
				order: 0;
				width: 100%;
			}
		}

		@media(--1050vp) {
			&.aside-both {
				order: 2;
				width: calc(100% - 750px);
			}
		}
	}

	&>aside {
		margin: var(--Spacing) auto;
		padding: var(--SmallSpacing);
		width: 350px;
		background-color: var(--Grey);

		@media(--800vp) {
			&.is-left {
				order: 1;
				margin-right: 25px;
			}

			&.is-right {
				order: 3;
				margin-left: 25px;
			}
		}

		& .widget {
			margin-bottom: var(--SmallSpacing);

			&:last-of-type {
				margin-bottom: 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article {
	position: relative;
	margin: var(--Spacing) auto;
	width: 100%;
	height: auto;

	&>*:first-child {
		margin-top: 0 !important;
	}

	&>*:last-child {
		margin-bottom: 0 !important;
	}

	& iframe {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		PAGE SPECIFIC
\*----------------------------------------------------------------*/
.services {
	& header.page-title {
		background-position: 50% top;
	}

	& main {
		margin-top: 0;

		&>article {
			margin: 4em auto;
			max-width: 1050px;
		}
	}
}

.half-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1050px;

	& section {
		width: 100%;

		@media(--800vp) {
			width: 48%;
		}

		& form {
			margin-top: 0;
		}
	}
}

.i-want-cash-for-my-home,
.i-want-to-keep-my-home {
	& main>article {
		max-width: 1050px;
	}
}

table.benefits {
	position: relative;
	font-size: 12px;

	@media(--500vp) {
		font-size: 14px;
	}

	@media(--800vp) {
		font-size: 16px;
	}

	& th {
		font-size: 12px;

		@media(--500vp) {
			font-size: 14px;
		}
	}

	& span {
		display: block;
		font-family: Muli Bold;
	}
}