/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1200px;
	--LargeSpacing: 4em;
	--Spacing: 2em;
	--SmallSpacing: 1.5em;
	/* COLORS */
	--Green: #00674A;
	--DarkGreen: #004632;
	--LightGreen: #00A576;
	--Blue: #3FA5D0;
	--Yellow: #FFBE00;
	--Black: #000000;
	--White: #FFFFFF;
	--LightGrey: #F9F9F9;
	--Grey: #EFEFEF;
}