/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE ABOUT TEMPLATE

\*----------------------------------------------------------------*/

.page-template-about {
	& h1 {
		font-size: 44px;
	}
}