/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS ARCHIVES TEMPLATE

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--LargeWidth);
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

.page-load-status {
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.button.load-more {
	display: none;
}

.infinite-scroll {
	display: flex;
	flex-wrap: wrap;
}