/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE CUSTOM CONFIRMATION TEMPLATE

\*----------------------------------------------------------------*/

body.page-template-confirmation {
  background-color: var(--LightGreen);

  & header.page-title {
    min-height: 75vh;

    & h1 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 60px;

      @media(--500vp) {
        font-size: 80px;
      }
    }

    & p {
      color: var(--White);
      font-size: 20px;
    }
  }
}
