/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS 404 TEMPLATE

\*----------------------------------------------------------------*/

body.error404 {
	background-color: var(--LightGreen);

	& header.page-title {
		min-height: 75vh;
		color: var(--White);

		& h1 {
			font-size: 80px;

			@media(--500vp) {
				font-size: 100px;
			}
		}

		& h2 {
			font-size: 50px;
			
			@media(--500vp) {
				font-size: 80px;
			}
		}

		& p {
			font-size: 24px;
		}

		& a.button {
			margin-right: 0;
		}
	}
}