/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS FRONT PAGE TEMPLATE

\*----------------------------------------------------------------*/

body.home {
	& header.page-title.has-image {
		min-height: 400px;
		background-position: 70% bottom;

		@media(--800vp) {
			min-height: 600px;
		}

		@media(--1200vp) {
			background-position: center 100%;
		}

		@media(--1500vp) {
			background-position: center 70%;
		}

		& h2 {
			font-size: 60px;
			margin: .5em 0 0;

			@media(--800vp) {
				margin: 1em 0 0;
			}
		}

		& h1 {
			font-size: 20px;
			font-family: Muli;
			font-weight: 400;

			@media(--800vp) {
				font-size: 34px;
				margin-top: .5em;
			}

			& span {
				@media(--800vp) {
					display: block;
				}
			}
		}

		&::after {
			content: ;
			content: '';
			position: absolute;
			bottom: -200px;
			background-color: #c5c5c5;
			width: 100%;
			height: 200px;
			left: 0;

			@media(--800vp) {
				display: none;
			}
		}
	}

	& main>article {
		max-width: 1050px;
	}

	& section.cards {
		margin-top: -150px !important;
		z-index: 3;
		position: relative;

		@media(--800vp) {
			margin-top: -200px !important;
		}

		&>div article {
			width: 90%;
			max-width: 400px;
			padding: 2em 1em;

			@media(--800vp) {
				padding: 4em 3em;
				width: 45%;
				max-width: inherit;
			}

			& h4 {
				font-size: 20px;

				@media(--800vp) {
					font-size: 28px;
				}
			}
		}
	}
}