/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE RESOURCES TEMPLATE

\*----------------------------------------------------------------*/

.page-template-resources {
	& main>article {
		max-width: 1050px;
	}

	& .resource-repeater {
		max-width: 700px;
		margin: 0 auto;

		& h4 {
			margin-bottom: 1em;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@media(--800vp) {
				justify-content: flex-start;
			}

			& .resource {
				width: 45%;
				margin: 1em 0;
				font-size: 14px;
				display: flex;
				flex-wrap: wrap;
				color: var(--LightGreen);
				font-family: 'Muli';
				align-items: center;

				@media(--800vp) {
					width: 26%;
					margin: 1em 7% 1em 0;
				}

				& svg,
				& img {
					margin-bottom: 1em;
					width: 100%;
					max-width: 141px;
				}
			}
		}
	}

	& .content-repeater {
		margin: 6em 0;

		& article.preview {
			flex-direction: inherit;
			justify-content: space-between;
			max-width: inherit;
			width: 100%;
			border: none;
			border-radius: 0;
			box-shadow: none;

			&:hover,
			&:focus {
				& img {
					transform: inherit;
				}
			}

			& figure {
				width: 100%;

				@media(--800vp) {
					width: 27%;
				}

				& button {
					margin: 0;
					padding: 0;
					border: none;
					border-radius: 0;
					background-color: inherit;

					&:hover,
					&:focus {
						& img {
							transform: scale(1.1);
						}
					}
				}
			}

			&>div {
				width: 100%;
				margin-top: 1em;

				@media(--800vp) {
					width: 67%;
					margin-top: 0;
				}

				& h4 {
					margin-top: 0;
					font-size: 20px;
				}

				& p {
					padding: 0;
				}
			}
		}
	}

	& .link-repeater {
		max-width: 700px;
		margin: 0 auto;

		& h4 {
			margin-bottom: 1em;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& a {
				width: 100%;
				font-family: 'Muli';
				margin-bottom: 1em;
				color: var(--LightGreen);

				@media(--800vp) {
					width: 50%;
				}

				&:hover,
				&:focus {
					font-style: italic;
				}
			}
		}
	}

	& .featherlight .featherlight-close-icon {
		background: var(--LightGreen) !important;
	}

	& .featherlight-content {
		overflow-y: hidden !important;
		min-height: 480px !important;
		width: 80% !important;
		background-color: var(--Black) !important;

		&::after {
			display: none;
		}

		& iframe {
			margin: 4em 0;
			width: 100%;
		}
	}
}