/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SEARCH RESULTS PAGE

\*----------------------------------------------------------------*/

body.search-results,
body.search-no-results {
	& header.page-title {
		background-image: url(../images/default-header.jpg);
	}

	& main {
		margin-bottom: 4em;
	}

	& main>article {
		max-width: 1050px;

		&>h3 {
			text-align: center;
		}

		&>p {
			text-align: center;
		}

		& form {
			box-shadow: none;
			position: relative;
			max-width: 700px;
			margin: 0 auto;

			& label {
				display: none;
			}

			& input {
				position: absolute;
				top: 0;
				border-radius: 30px;
				height: 42px;
			}

			& button {
				position: absolute;
				top: 0;
				right: 0;
				padding: 11px 2em;
			}
		}
	}

	& article.preview h2 {
		color: var(--Green);
	}
}