/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS SINGLE PARTNER TEMPLATES

\*----------------------------------------------------------------*/
.single-partner {
	& header.page-title {
		background-position: 20% 50%;

		@media(--500vp) {
			background-position: 50%;
		}
	}

	& .linkedin {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1em 1em 1em 0;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background-color: var(--Grey);

		& svg {
			width: 16px;
			height: 16px;

			fill: var(--LightGreen);
		}
	}

	& .contact-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		max-width: 400px;
	}

	& .button {
		padding: 0.5em 2em;
		border-radius: 50px;
	}
}