/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS SINGLE POST TYPE TEMPLATES

\*----------------------------------------------------------------*/
.single-post {
	& header+figure {
		width: 90vw;
		max-width: 1500px;
		margin: 4em auto 0 auto;

		& img {
			width: 100%;
			height: auto;
		}
	}

	& #comments {
		padding: 0 3vw;
		max-width: var(--Width);
		margin: 0 auto;
	}
}