/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STYLEGUIDE TEMPLATES

\*----------------------------------------------------------------*/
.wysiwyg-two-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;

  &>div {
    width: 48%;
  }
}

.primary-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;

	&>div {
		width: 140px;
		height: 80px;
		border-radius: 5px;
	}
}

.secondary-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&>div {
		width: 140px;
		height: 50px;
		border-radius: 5px;
	}
}