/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE TESTIMONIALS ARCHIVE

\*----------------------------------------------------------------*/
.post-type-archive-testimonial {
	& iframe {
		margin-top: 2em;
		width: 100%;
	}

	& article {
		max-width: 1050px;

		& section.wysiwyg-block {
			max-width: 700px;

			& button {
				border-radius: 0;
				background-color: transparent;
				border: none;
				padding: 0;
				margin: 0;
				width: 100%;
			}
		}

		& h3 {
			width: 100%;
		}

		& article.preview {
			flex-direction: inherit;
			justify-content: space-between;
			max-width: inherit;
			width: 100%;
			border: none;
			border-radius: 0;
			box-shadow: none;

			&:hover,
			&:focus {
				& img {
					transform: inherit;
				}
			}

			& figure {
				width: 100%;

				@media(--800vp) {
					width: 27%;
				}

				& button {
					margin: 0;
					padding: 0;
					border: none;
					border-radius: 0;
					background-color: inherit;

					&:hover,
					&:focus {
						& img {
							transform: scale(1.1);
						}
					}
				}
			}

			&>div {
				width: 100%;
				margin-top: 1em;

				@media(--800vp) {
					width: 67%;
					margin-top: 0;
				}

				& h4 {
					margin-top: 0;
					font-size: 20px;
					padding: 0;
				}

				& p {
					padding: 0;
				}
			}
		}
	}

	& .featherlight .featherlight-close-icon {
		background: var(--LightGreen) !important;
	}

	& .featherlight-content {
		overflow-y: hidden !important;
		min-height: 480px !important;
		width: 80% !important;
		background-color: var(--Black) !important;

		&::after {
			display: none;
		}

		& iframe {
			margin: 4em 0;
		}
	}
}