/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 1000;

	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;
			margin-bottom: 0;
			background-image: none;
			padding-left: 25px;

			&.active {
				& a::after {
					@media(--1050vp) {
						content: '';
						height: 3px;
						width: calc(100% - 2em);
						background: var(--LightGreen);
						position: absolute;
						bottom: 3px;
						left: 1em;
						transition: all .25s ease-in-out;
					}
				}
			}

			& a {
				display: block;
				padding: .5em 1em;
				text-decoration: none;
				color: var(--Green);
				transition: all .35s linear;
				text-transform: uppercase;
				font-size: 14px;
				font-family: 'Muli Bold';
				letter-spacing: 1px;
				position: relative;

				&:hover,
				&:focus {
					&::after {
						@media(--1050vp) {
							width: calc(100% - 2em);
						}
					}
				}

				&:active {
					&::after {
						@media(--1050vp) {
							width: calc(100% - 2em);
						}
					}
				}

				&::after {
					@media(--1050vp) {
						content: '';
						height: 3px;
						width: 0;
						background: var(--LightGreen);
						position: absolute;
						bottom: 3px;
						left: 1em;
						transition: all .25s ease-in-out;
					}
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				color: var(--LightGreen);
				text-decoration: underline;
			}
		}
	}
}

.menu-resources {
	display: block;

	@media(--1050vp) {
		display: none;
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/

nav ul li.menu-item-has-children {
	position: relative;

	&:hover,
	&:focus {
		& ul.sub-menu {
			opacity: 1;
			top: 100%;
		}
	}

	& ul.sub-menu {
		display: block;
		position: absolute;
		width: 200%;
		max-width: 200px;
		opacity: 0;
		top: calc(100% - 10px);
		transition: all .35s linear;

		& li {
			& a {
				display: block;
				background: var(--Grey);
				color: var(--White);

				&:hover,
				&:focus {
					background-color: var(--Grey);
				}

				&:active {
					background-color: var(--Grey);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		MOBILE
\*----------------------------------------------------------------*/
nav.primary-nav-mobile {
	position: fixed;
	top: 0;
	height: 62px;
	padding: 0 1em;
	background-color: var(--White);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.13);

	@media(--1050vp) {
		display: none;
	}

	&>button {
		border: none;
		background-color: transparent;
		padding: 0;
		margin: 0;
		display: flex;
		border-radius: 0;

		& svg {
			stroke: var(--LightGreen);
			height: 30px;
			width: 30px;
		}
	}

	&>a {
		display: flex;

		& svg {
			fill: var(--LightGreen);
			height: 30px;
			width: 30px;
		}
	}

	& img {
		width: 150px;
	}

	& .menu-items-container {
		position: fixed;
		top: 62px;
		bottom: 0;
		right: 0;
		width: 100%;
		max-height: 100%;
		padding: 15% 2em 2em 2em;
		background: rgba(255, 255, 255, 0.90);
		overflow: hidden;
		transform: translateY(-200%);
		transition: all .35s linear;

		&.is-active {
			transform: translateY(0);
		}

		& button {
			padding: 0;
			border: none;
			background-color: transparent;
			position: absolute;
			top: 1em;
			right: 1em;

			& svg {
				stroke: var(--LightGreen);
				width: 20px;
				height: 20px;
			}
		}

		& ul {
			display: block;
			margin: 0;
			text-align: center;

			& li {
				padding-left: 0;
				padding-bottom: 0.5em;

				&.menu-contact {
					& a {
						background-color: var(--Green);
						color: var(--White);
						border-radius: 20px;
						padding: .5em 2em;
						max-width: 200px;
						margin: 0 auto;

						&:hover,
						&:focus {
							border-color: var(--DarkGreen);
							background-color: var(--DarkGreen);
						}

						&::after {
							display: none;
						}
					}
				}
			}
		}

		& .social-links {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 1em;

			& a {
				background-color: var(--LightGreen);
				width: 55px;
				height: 55px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: .5em;

				& svg {
					width: 15px;
					height: 15px;
					fill: var(--White);
				}
			}
		}

		& .search-form {
			width: 100%;
			overflow: hidden;
			transition: all .5s linear;
			height: 40px;
			border-radius: 20px;
			display: flex;
			justify-content: center;
			position: relative;
			max-width: 450px;
			margin: 0.5em auto;

			@media(--500vp) {
				width: 350px;
			}

			& form {
				margin: 0;
				padding: 0;
				max-width: inherit;

				& label {
					display: none;

					&::before {
						display: none;
					}
				}

				& input {
					padding: 10px;

					&:focus {
						border-color: var(--Grey);
					}
				}

				& button {
					position: absolute;
					right: 0;
					top: 0;
					color: var(--White);
					background-color: var(--Green);
					padding: 10px 1em;

					& svg {
						width: 20px;
						height: 20px;
						fill: var(--Black);
					}

					&:hover,
					&:focus {
						& svg {
							fill: var(--Grey);
						}
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.primary-nav-wrap {
	background-color: var(--White);
	width: 100%;
	height: 85px;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: all .5s ease-in-out;
	display: none;

	@media(--1050vp) {
		display: block;
	}

	&.is-minimal {
		box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.13);

		& nav.primary-nav {
			&>a {
				&:after {
					height: 0;
					transition: all .5s ease-in-out;
				}
			}

			& img {
				transform: scale(1);
			}
		}
	}

	& nav.primary-nav {
		width: 90vw;
		max-width: 1200px;
		height: 85px;
		padding: 4px 1em;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>div {
			display: flex;
			align-items: center;
			width: 35%;

			&:first-of-type {
				justify-content: flex-start;
			}

			&:last-of-type {
				justify-content: flex-end;
			}
		}

		& ul {
			margin: 0;

			& li {
				&.menu-contact {
					& a {
						background-color: var(--Green);
						color: var(--White);
						border-radius: 20px;
						padding: .5em 2em;

						&:hover,
						&:focus {
							border-color: var(--DarkGreen);
							background-color: var(--DarkGreen);
						}

						&::after {
							display: none;
						}
					}
				}
			}
		}

		&>a {
			&:after {
				content: '';
				background-color: var(--White);
				border-radius: 50%;
				width: 430px;
				height: 280px;
				position: absolute;
				top: -120px;
				left: calc(50% - 215px);
				z-index: -1;
				transition: all .35s ease-in-out;
			}
		}

		& img {
			transform: scale(1.8) translateY(10px);
			max-width: 153px;
			width: 153px;
			display: block;
			transition: all .5s ease-in-out;
		}

		& button {
			background: transparent;
			border: none;
			padding: 0 1em;
			margin: 0;

			& svg {
				width: 40px;
				height: 40px;
			}

			&:hover,
			&:focus {
				& svg {
					fill: var(--Grey);
					transition: all .35s linear;
				}
			}
		}

		& .search-form {
			position: absolute;
			top: 23px;
			left: 2em;
			width: 0;
			overflow: hidden;
			transition: all .5s linear;
			height: 40px;
			border-radius: 20px;
			z-index: -1;
			opacity: 0;

			&.is-active {
				width: 350px;
				z-index: 1;
				opacity: 1;
			}

			& form {
				margin: 0;

				& label {
					padding: 0;

					&::before {
						display: none;
					}
				}

				& input {
					padding: 10px;

					&:focus {
						border-color: var(--Grey);
					}
				}

				& button {
					position: absolute;
					right: 0;
					top: 0;
					color: var(--White);
					background-color: var(--Green);
					padding: 10px 1em;

					& svg {
						width: 20px;
						height: 20px;
						fill: var(--Black);
					}

					&:hover,
					&:focus {
						& svg {
							fill: var(--Grey);
						}
					}
				}
			}
		}

		& svg {
			vertical-align: text-top;
			height: 60px;
			width: 60px;
		}
	}
}