/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

article.preview {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 6px;
	background-color: var(--White);
	margin-bottom: var(--Spacing);
	box-shadow: 0 2px 22px 0 rgba(0,0,0,0.13);

	@media(--800vp) {
    width: 45%;
  }

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;

		&.anchor {
			display: block;
			position: relative;
			top: -80px;
			visibility: hidden;

			@media(--1050vp) {
				top: -100px;
			}
		}
	}

	& figure {
		width: 100%;
		margin: 0;
		overflow: hidden;

		& img {
			width: 100%;
			display: block;
			transition: all .5s ease-in-out;
		}
	}

	& h4,
	& p {
		padding: 0 2rem;
	}

	& p {
		flex: auto;
	}

	& .buttons {
		margin-top: 24px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		& .button {
			margin-bottom: 2em;
		}
	}

	&:hover,
	&:focus {

		& .button,
		& button {
			border-color: var(--DarkGreen);
			background-color: var(--DarkGreen);
		}

		& img {
			transform: scale(1.1);
		}
	}
}