/*----------------------------------------------------------------*\
	SHARE
\*----------------------------------------------------------------*/

section.social-share {
	margin: 4em auto;
	text-align: center;

	& h4 {
		margin-top: 0;
	}

	& svg {
		width: 35px;
		height: 35px;
		stroke: var(--Black);
		transition: all .35s linear;
	}

	& a:hover svg,
	& a:focus svg {
		stroke: var(--Green);
	}
}